.container {
  padding: 10px;
  border: 2px solid #000;
  background: #bffaea;
  height: 700px;
  width: 700px;

  /*flex*/
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.child {
  width: fit-content;
  height: fit-content;
  background: #5495b6;
  font-size: 30px;
  font-weight: 700;

  /*flex*/
  padding: 10px;
  display: block;
  border: 1px solid #000;
  flex-basis: 60px;
  flex-grow: 1;
}

.another {
  /*align-self: flex-start;*/
  flex-grow: 3;
}
